@charset "utf-8";
/* CSS Document */

body{
	background-image: url("../image/Backgorund/Libra_Backgorund.png");
    background-size: cover;
	background-size: 1950px 1100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
  	width: 85%;
	margin-top: 30px;
	margin-bottom: 100px;
  	margin-left: auto;
  	margin-right: auto;
}
