@charset "utf-8";
/* CSS Document */

#image{
	width: 900px;
	length: 1200px;
	position: relative;
  	border: 0px solid;
	margin-left: auto;
	margin-right: auto;
  	display: flex;
  	flex-wrap: wrap;
	justify-content: space-around;
}
.image {
    position: relative;
	transform: perspective(800px);
    width: 200px;
	height: 294px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
