body{
	background-image: url('ERB_icon_Blackground.jpg');
	background-size: 1576px 1222px;}
div{							/* Structure Name ¦ý#«Y­øª¾«§ªd */
	border: 2px solid black;
	border-width: thin;
	background-color:#ffffff }			/* Áï«×  */
logo{
	padding: 20px;
  	font-size: 30px;
  	width: 30px;
	text-align: center;
	margin: 10px 10px;
  	border-radius: 15%;}

