@charset "utf-8";
/* CSS Document */

.audio{
	width: 1200px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-buttom: 30px;
	display: flex;
  	flex-wrap: wrap;
	justify-content: space-around;
}
audio{
	width: 900px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-buttom: 30px;
}
