#Border_Structure{					/* Structure Name ¦ý#«Y­øª¾«§ªd */
	border: 1px solid black; 			/* Áï«×  */
	background-color: #9EEFFD;
	font-size: 5px;}

hRedinline{
	display: inline;
	font-size: 32px;
	color: #FF0000;}

h1.inline{
	display: inline;
	font-size: 32px;}

Cat{
	display: inline;
	font-size: 7px;
	font-weight: bold;
	font-style: italic;}	

h2.inline{
	display: inline;
	font-size: 24px;}

.content{
	position: relative;
	left: 380px;
	bottom: 250px;}

span{
	font-family: fantasy;
	color: #FF0000;}

hr{
	size: 2px;
	width: 95%;}
